{% assign user_data = site.data.github_meta.users[include.username] %}
{% if user_data.top_repos %}
<div class="repo-top-repos w-100 p-2">
  <h5 class="repo-top-repos-title">Top repositories</h5>
  <div class="repo-top-repos-grid">
    {% for r in user_data.top_repos %}
      {% assign lang_color = site.data.language_colors[r.language] | default: "#888888" %}
      <a href="https://github.com/{{ r.full_name }}" class="repo-card-link">
        <div class="repo-card repo-card-sm">
          <div class="repo-card-header">
            <i class="fa-solid fa-book repo-card-icon" aria-hidden="true"></i>
            <span class="repo-card-name">{{ r.name }}</span>
          </div>
          {% if r.description %}
            <p class="repo-card-description">{{ r.description }}</p>
          {% endif %}
          <div class="repo-card-stats">
            {% if r.language %}
              <span class="repo-card-language">
                <span class="repo-language-dot" style="background: {{ lang_color }}"></span>
                {{ r.language }}
              </span>
            {% endif %}
            {% if r.stargazers_count > 0 %}
              <span class="repo-card-stat">
                <i class="fa-regular fa-star" aria-hidden="true"></i>
                {{ r.stargazers_count }}
              </span>
            {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endif %}
