<div class="certificates-list">
  {% assign certificates = data[1] | sort: 'date' | reverse %}
  {% for content in certificates %}
    <a href="{{ content.url | default: # }}" class="certificate-item">
      <div class="certificate-header">
        {% if content.icon %}
          <i class="certificate-icon {{ content.icon }}"></i>
        {% endif %}
        <div class="certificate-title">{{ content.name }}</div>
        <div class="certificate-date">{{ content.date }}</div>
      </div>
      <div class="certificate-issuer">{{ content.issuer }}</div>
    </a>
  {% endfor %}
</div>
