---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {% assign authors = site.data.authors %}
    {% if page.authors %}
      <p>
        by
        {% assign author_count = page.authors.size %}
        {% assign before_last_author = author_count | minus: 1 %}
        {% for author_id in page.authors %}
          {% assign author = authors[author_id] %}
          {{- author.name -}}
          {% if author.orcid %}
            <a href="https://orcid.org/{{ author.orcid }}"><i class="fa-brands fa-orcid"></i></a>
          {%- endif -%}
          {% if forloop.index0 < before_last_author and author_count > 2 -%}
            ,
          {% endif %}
          {% if forloop.index == before_last_author and author_count > 1 -%}
            and
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}
    {{ content }}

    {% if page.links %}
      {% if page.links.paper or page.links.replication %}
        <style>
          .links-block {
            margin-top: 2rem;
          }
          .links-block h2 {
            margin-bottom: 0.75rem;
          }
          .links-list {
            list-style: none;
            padding-left: 0;
            margin: 0;
          }
          .links-list li {
            margin: 0.5rem 0;
            line-height: 1.6;
          }
          .links-list li i {
            margin-right: 8px;
            width: 20px;
            text-align: center;
          }
        </style>
        <div class="links-block">
          <h2>Links</h2>
          <ul class="links-list">
            {% if page.links.paper and (page.links.paper.kitopen or page.links.paper.ieee or page.links.paper.acm or page.links.paper.springer) %}
              {% if page.links.paper.ieee %}
                <li><i class="fa-solid fa-file-lines"></i><a href="{{ page.links.paper.ieee }}">IEEE Xplore</a></li>
              {% endif %}
              {% if page.links.paper.acm %}
                <li><i class="fa-solid fa-file-lines"></i><a href="{{ page.links.paper.acm }}">ACM Digital Library</a></li>
              {% endif %}
              {% if page.links.paper.springer %}
                <li><i class="fa-solid fa-file-lines"></i><a href="{{ page.links.paper.springer }}">SpringerLink</a></li>
              {% endif %}
              {% if page.links.paper.kitopen %}
                <li><i class="fa-solid fa-file-lines"></i><a href="{{ page.links.paper.kitopen }}">KITopen</a></li>
              {% endif %}
            {% endif %}
            {% if page.links.replication %}
              {% if page.links.replication.zenodo %}
                <li><i class="fa-solid fa-box-archive"></i><a href="{{ page.links.replication.zenodo }}">Replication Package (Zenodo)</a></li>
              {% endif %}
              {% if page.links.replication.repo %}
                <li><i class="fa-brands fa-github"></i><a href="{{ page.links.replication.repo }}">GitHub Repository</a></li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
      {% endif %}
    {% endif %}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if page.publication %}
    <style>
      .publications {
        margin-top: 0px !important;
      }
    </style>
    <br>
    <h2>Cite this paper</h2>
    <div class="publications">
      {% bibliography -q @*[key ^= {{page.publication}}] --group_by none %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
